@model IEnumerable<Bookstore.Models.Author>

@{
    ViewData["Title"] = "Index";
}

<h1>Authors page</h1>

<p>
    </br>
    <a asp-action="Create" class="btn btn-success">Create New Author</a>
</p>
<table class="table">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.Fullname).Replace("Fullname","Author Name")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
          
            <td>
                @Html.DisplayFor(modelItem => item.Fullname)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id, }, new { @class = "btn btn-primary" }) 
                    @Html.ActionLink("Details", "Details", new {id=item.Id}, new { @class = "btn btn-info" }) 
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
}
    </tbody>
</table>
